#Allows to redirect urls
RewriteEngine On

#do not include extentions with css|gif|ico|jpg|js|png|swf|txt
RewriteCond %{REQUEST_URI} !.(css|gif|ico|jpg|js|png|swf|txt)$

#RewriteRule of anything and send get url send to index.php
#[Query String Append, Symbolic Links]
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]