:root{
}

body{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Segoe UI Light";
}

.nav-links{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    justify-content: center;
    border-bottom: 1px solid black;
    width: 50%;
    margin: 0 auto;
    font-size: 1.5rem;
    align-items: center;
}

.nav-links li{
    padding: 1rem;
}

.nav-links li a{

    text-decoration: none;
}

.nav-links li a:hover{
    text-decoration: underline;

}